<link rel="stylesheet" href="accessories.component.scss">

<div class="max">
    <table>
        <!-- First Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='square'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Casque JBL LIVE 500BT</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='square2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>599 TND</b></h2>
                            <h1 class="coloro">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaree'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Samsung Galaxy Watch 3 Titanium</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaree2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>999 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaret'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Barre de son JBL 9.1 True Wireless Surround with Dolby Atmos</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaret2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>4900 TND</b></h2>
                            <h1 class="coloro">Nouveau</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaren'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Vidéo projecteur Portable Samsung The Freestyle</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaren2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>2999 TND</b></h2>
                            <h1 class="coloro">Nouveau</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    
        <!-- Second Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='squarem'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Adaptateur USB Connector(USB type-C to A)</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarem2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>49 TND</b></h2>
                            <h1 class="colori">En repos de stock</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareo'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Chargeur sans fil Duo</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareo2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>349 TND</b></h2>
                            <h1 class="coloro">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squarep'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Samsung Galaxy Buds Pro </b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarep2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>499 TND</b></h2>
                            <h1 class="colori">En repos de stock</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareq'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Galaxy S22+ Frame Cover</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareq2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>79 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table> 
</div>