<link rel="stylesheet" href="forfailts.component.scss">

<div class="centree">
  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/4ghome.webp" alt="">
            <h3>Forfait Orange 4G Home</h3>
            <h4>126 TND/mois <br> Débit jusqu'à 150 Mbps, 200 Go de data.</h4>
          </div>
        </a>
      </div>

      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/la5g.webp" alt="">
            <h3>Forfait Orange 5G Pro</h3>
            <h4>272 TND/mois <br> Débit jusqu'à 1 Gbps, 250 Go d'internet mobile, appels et SMS illimités.</h4>
          </div>
        </a>
      </div>

      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/fibre.webp" alt="">
            <h3>Forfait Fibre + Mobile</h3>
            <h4>170 TND/mois <br> Fibre jusqu'à 1 Gbps, 100 Go d'internet 4G ou 5G.</h4>
          </div>
        </a>
      </div>

      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/jet.jpg" alt="">
            <h3>Forfait Orange Jet 150 Go</h3>
            <h4>136 TND/mois <br> Débit jusqu'à 300 Mbps en 4G+, 150 Go de data mensuels.</h4>
          </div>
        </a>
      </div>

      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/open.jpg" alt="">
            <h3>Forfait Orange Open Max</h3>
            <h4>238 TND/mois <br> Fibre jusqu'à 2 Gbps, 150 Go de data mobile, appels/SMS illimités.</h4>
          </div>
        </a>
      </div>

      <div class="ag-courses_item animate">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            <img src="assets/multicloud.png" alt="">
            <h3>Forfait Orange Multi-Cloud</h3>
            <h4>170 TND/mois <br> 100 Go d'internet mobile, accès illimité à des services cloud, appels et SMS illimités en Tunisie, sauvegarde automatique des données sur le cloud.</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>






























       