
<link rel="stylesheet" href="tablettes.component.scss">

<div class="max">
    <table>
        <!-- First Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='square'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>iPad Pro 11</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='square2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>6599 TND</b></h2>
                            <h1 class="coloro">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaree'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Galaxy Tab A9</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaree2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>599 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaret'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Xiaomi Pad 6S Pro</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaret2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>1100 TND</b></h2>
                            <h1 class="coloro">Nouveau</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaren'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Apple iPad Pro 13</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaren2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>6599 TND</b></h2>
                            <h1 class="coloro">Nouveau</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    
        <!-- Second Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='squarem'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Lenovo Tab P11 Plus</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarem2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>1459 TND</b></h2>
                            <h1 class="colori">En repos de stock</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareo'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Nokia T20</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareo2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>461 TND</b></h2>
                            <h1 class="coloro">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squarep'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Honor Pad X8 </b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarep2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>650 TND</b></h2>
                            <h1 class="colori">En repos de stock</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareq'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Google Pixel Tablet</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareq2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2>
                            <h2 class="show"><b>1895 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table> 
</div>